/* 공통 css */
:root {
    --color-orange-200: #F9F6F0;
    --color-orange-300: #FAEBD7;
    --color-orange-400: #FCD7B8;
    --color-orange-500: #FDC199;
    --color-orange-600: #FFAA80;
    --color-orange-700: #FF6B35;
    --color-orange-800: #FF5100;
    --color-orange-900: #FF3E00;

    --color-navy-500: #2C4067;
    --color-navy-700: #111E38;
    --color-navy-800: #162038;
    --color-navy-900: #0A1128;

    --color-gray: #888888;
    --color-lightgray: #E0E0E0;

    --color-white: #FFFFFF;
    --color-black: #000000;

    --gradient-bg-start: rgba(255, 255, 255, 0);
    --gradient-bg-end: #F7F7F8;

    --gradient-bg-primary: linear-gradient(
        180deg,
        var(--gradient-bg-start) 0%,
        var(--gradient-bg-end) 100%
    );

    --color-red: #E20000;
    --color-yellow: #F9BA1B;
    --color-lightbrown: #C77521;

    --color-transparent-20: rgba(255, 255, 255, 0.2);
    --color-transparent-50: rgba(255, 255, 255, 0.5);
}

html {
    font-size: 100%;
}

body {
    font-family: "Bangers", system-ui;
    background-color : var(--color-orange-200);
    min-width: 360px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
header {
    position: sticky;
    width: 100%;
    padding: 0 20px;
    top: 0;
    left: 0;
    z-index: 1000;
}
.inner {
    width: min(1800px, calc(100% - 120px));
    margin: 0 auto;
}

.h-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(60px, 4.2vw, 80px);
}
h1 {
    width: 108px;
    height: 100%;
}
.logo > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.logo > a > img {
    width: 51px;
    height: 44px;
}
.logo-txt {
    display: block;
    white-space: nowrap;
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0.05em;
    color: var(--color-orange-800);
}
.gnb {
    display: block;
}
.gnb ul {
    display: flex;
    gap: 40px;
}
.gnb li {
    font-size: 1.625rem;
    line-height: 1;
    letter-spacing: 0.05em;
}
.gnb li a:hover {
    color: var(--color-orange-800);
    transition: 0.3s;
}
.mo-nav {
    display: none;
}

@media (max-width: 1024px) {
    header {
        padding: 0 16px;
    }
    .gnb ul {
        gap: 1.25rem;
    }
    .gnb li {
    font-size: 1.375rem;
    }
}

@media (max-width: 767px) {
    .logo > a > img {
        width: 46px;
        height: 39px;
    }
    .logo-txt {
        font-size: 14px;
    }
    .gnb ul {
        gap: 0.625rem;
    }
    .gnb li {
    font-size: 1rem;
    }
}

@media (max-width: 520px) {
    .gnb ul {
        gap: 0.375rem;
    }
    .gnb li {
    font-size: 0.75rem;
    }
}

@media (max-width: 375px) {
    .gnb ul {
        gap: 0.375rem;
    }
    .gnb li {
    font-size: 0.625rem;
    }
}

/* menu-wrap */
.menu-wrap {
    display: none;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    /* display: flex; */
    justify-content: center;
    gap: 40px;

    padding: 20px 0;
    background: #000;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.4s ease;

    z-index: 9999;
}

.sec-wrap {
    position: relative;
}


/* hero-sec */
.hero-sec {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}
.hero-txt {
    position: relative;
    z-index: 2;
}
.hero-txt p {
    font-size: clamp(50px, 17.2vw, 330px);
    line-height: 1;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--color-orange-800);
}
.hero-txt .outline {
    color: transparent;
    -webkit-text-stroke: clamp(1px, 0.25vw, 5px) var(--color-orange-800);
}
.hero-txt .hero-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
    z-index: 4;
}
.hero-txt .caractor01,
.hero-txt .caractor02 {
    position: absolute;
    width: clamp(50px, 10.2vw, 196px);
    z-index: 3;
}
.hero-txt .caractor01 {
    top: 59%;
    left: 24%;
    transform: translateX(-50%);
}
.hero-txt .caractor02 {
    top: 28%;
    left: 59.5%;
    transform: scaleX(-1);
}

.hero-bg01,
.hero-bg02 {
    position: absolute;
    height: 100%;
    z-index: 1;
}
.hero-bg01 {
    top: 0;
    left: 0;
    width: clamp(100px, 18.9vw, 363px);
}
.hero-bg02 {
    top: 0;
    right: 0;
    width: clamp(120px, 26vw, 500px);
}

.hero-sec > .brand-chips {
    position: absolute;
    width: clamp(360px, 45vw, 750px);
    height: auto;

    right: 0;
    top: 100%;
    transform: translateY(-31%);

    z-index: 2;
}

/* brand-sec */
.brand-sec {
    padding: 120px 0;
    background-color: var(--color-orange-200);
    z-index: 1;
}
.brand-sec .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.brand-label {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.06em;
    color: var(--color-orange-700);
}
.brand-arrow {
    position: absolute;
    width: clamp(140px, 14.6vw, 280px);
    height: auto;
    
    left: 60%;
    top: 26%;
    transform: translatex(-50%) rotate(70deg);
}
.brand-wrap {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 50px;
}
.brand-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.tit-content {
    position: relative;
}
.brand-title {
    margin-top: 20px;

    font-size: clamp(72px, 8vw, 160px);
    font-weight: 400;
    line-height: 1;
    color: var(--color-navy-900);
}
.brand-star {
    position: absolute;
    width: clamp(40px, 3.9vw, 74px);
    height: auto;

    left: 105%;
    top: -14%;
    transform: translateX(-50%) scaleY(-1) rotate(200deg);
}
.brand-sub-title {
    font-family: "Barlow", sans-serif;
    font-size: clamp(22px, 2.3vw, 42px);
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-navy-700);
}
.brand-desc {
    font-family: "Barlow", sans-serif;
    font-size: clamp(16px, 1vw, 18px);
    font-weight: 400;
    line-height: 1.7;
    color: var(--color-navy-500);
}

.brand-list {
    display: grid;
    align-self: flex-end;
    width: 58%;
    gap: 20px;
}
.brand-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 28px 24px;
    border-radius: 24px;
    background: var(--color-orange-300);
}
.brand-item h3 {
    font-family: "Barlow", sans-serif;
    font-size: clamp(18px, 1.6vw, 30px);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.01em;
    color: var(--color-black);
}
.brand-item p {
    font-family: "Barlow", sans-serif;
    font-size: clamp(14px, 0.9vw, 15px);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--color-black);
}
.brand-fries {
    position: absolute;
    width: clamp(360px, 42vw, 750px);
    height: auto;

    left: 20%;
    top: 48%;
    transform: translateX(-50%);
}

@media (max-width: 1680px) {
    .brand-label {
        text-align: left;
    }
    .brand-arrow {
        left: 31%;
        top: 49%;
        transform: translatex(-50%) scaleY(-1) rotate(345deg);
    }
}

@media (max-width: 1440px) {
    .brand-sec .inner {
        width: min(1800px, calc(100% - 80px));
        gap: 30px;
    }
}


@media (max-width: 1024px) {
    .hero-sec .brand-chips {
        display: none;
    }
    .brand-sec .inner {
        gap: 30px;
    }
    .brand-arrow {
        display: none;
    }
    .brand-content {
        gap: 18px;
    }
    .brand-list {
        align-self: flex-start;
        width: 100%;
    }
    .brand-fries {
        left: 73%;
        top: -22%;
        transform: translateX(-50%) scaleX(-1);
    }
}

/* rolling-banner */
.rolling-banner {
    background-color: var(--color-navy-900);
    overflow: hidden;
}
.rolling-track {
    display: inline-flex;
    animation: scroll-left 20s linear infinite;
}
.rolling-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 18px 11px;
    gap: 8px;
}
.rolling-item span {
    display: inline-block;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: var(--color-orange-800);
}

.rolling-item .star-icon {
    color: var(--color-white);
}

@keyframes scroll-left {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}


/* corevalue-sec */
.corevalue-sec {
    padding: 120px 0;
    background-color: var(--color-orange-800);
}
.corevalue-sec .heading {
    gap: 16px;
    margin-bottom: 60px;
}
.corevalue-sec .heading h2 {
    font-size: clamp(2.5rem, 1.635rem + 3.85vw, 5.625rem);
    line-height: 1;
    color: var(--color-white);
}
.corevalue-sec .heading h2 + p {
    font-family: "Barlow", sans-serif;
    font-size: clamp(1rem, 0.885rem + 0.51vw, 1.5rem);
    line-height: 1.5;
    color: var(--color-white);
    text-align: center;
}
.corevalue-list {
    position: relative;
    display: flex;
}
.corevalue-item {
    position: relative;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    transition: all .45s ease;
}
.corevalue-content:nth-child(1) {
    background-image: url(../img/hover_01_1800.png);
    background-position: left top;
}
.corevalue-content:nth-child(2) {
    background-image: url(../img/hover_02_1800.png);
    background-position: center top;
}
.corevalue-content:nth-child(3) {
    background-image: url(../img/hover_03_1800.png);
    background-position: right top;
}
.card-tit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 120px 60px;
}
.card-tit strong {
    font-family: "Barlow", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    color: var(--color-white);
}
.card-tit strong + h3 {
    font-family: "Barlow", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: var(--color-white);
    white-space: nowrap;
}
.card-in {
    display: none;
    position: relative;
    padding: 0 60px;
}
.card-in p {
    position: absolute;
    font-family: "Barlow", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--color-white);
    white-space: nowrap;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* script용 css */
.corevalue-content {
    position: relative;
    display: flex;

    height: 380px;

    background-repeat: no-repeat;
    background-size: auto 100%;
    
    flex: 1;
    transition: .5s;
}
.corevalue-content.hide {
    flex: 0;
    width: 0;
    padding-left: 0;
    padding-right: 0;
    opacity: 0;
    overflow: hidden;
}
.corevalue-content.hide .card-in {
    display: none;
}

.corevalue-content.active {
    flex: 1 0 100%;
}

.corevalue-content.active .card-in {
    display: block;
    width: 100%;
}
/* .corevalue-content:nth-child(1):hover {
    flex-grow: 1;
    width: 100%;
}
.corevalue-content:nth-child(1):hover + .corevalue-content:nth-child(2) {
    flex-grow: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    padding: 0;
}
.corevalue-content:nth-child(1):hover + .corevalue-content:nth-child(2) + .corevalue-content:nth-child(3) {
    flex-grow: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    padding: 0;
}
.corevalue-content:nth-child(2):hover {
    flex-grow: 1;
    width: 100%;
}
.corevalue-content:nth-child(3):hover {
    flex-grow: 1;
    width: 100%;
} */
