/* assets/CSS/font.css */

/* 프리텐다드 가변(Variable) 폰트 선언 */
@font-face {
    font-family: 'pretendard-VF';
    src: url('../font/PretendardVariable.woff2') format('woff2-variations');
    font-weight: 100 900;
    /* → 폰트크기를 100~900까지 사용하겠다 */
    font-style: normal;
    font-display: swap;
    /* 폰트가 늦게 뜰때 기본폰트로 조금 보여주고 뜨게 해주는 기능 */
}

/* SUIT 가변(Variable) 폰트 선언 */
@font-face {
    font-family: 'SUIT-VF';
    src: url('../font/SUIT-Variable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
}

/* 웹사이트의 기본 본문 폰트 전체선언
바디에 지정을 해줘야함
*/
body {
    font-family: 'pretendard-VF', -apple-system, sans-serif;
    /* 웹상에서 pretendaard에 오류로 인지가 안돌 경우 다음 폰트들이 나오게끔 설정한 것 */
    font-weight: 400;
    line-height: 1.4;
}

/* @theme {
    --font-sans: 'Rretendard-VF', -apple-system, sans-serif;
} */